[user]
	name = hoarse-boy
	email = jourdymagoofficial@gmail.com

; [include]
  ; path = ~/.gitconfig_local

[core]
  pager = delta --dark --paging=never
  excludesfile = ~/.gitignore_global
  fileMode = true

[delta]
  features = side-by-side
  line-numbers = true
  syntax-theme = Monokai Extended

[interactive]
  diffFilter = delta --color-only

[delta "diff"]
  syntax-highlighting = true

[delta "side-by-side"]
  ; width = 80

[merge]
  conflictstyle = diff3
  git = delta
  tool = delta

[init]
	defaultBranch = main

[credential]
	helper = store

[pull]
	rebase = true
