 WantedBy=sysinit.target

[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
After=graphical-session.target dbus-user-session.target

[Service]
Type=simple
ExecStart=%h/.cargo/bin/kanata -c %h/.config/kanata/config.kbd -p 7070 --nodelay
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
